<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        .hidden{
            display: none;
        }
    </style>
</head>
<body>
<h2>경기대 기초캡스톤 첫페이지</h2>

<!--<a href="member/" class="hidden">회원목록<</a>-->
<a href="/member/" class="hidden">회원목록</a> <br>


<form action="/member/login" method="post">
    이메일: <input type="text" name="memberEmail"> <br>
    비밀번호:<input type="password" name="memberPassword"> <br>

    <input type="submit" value="로그인">
</form>
<form action="/member/save" method="get">
    <input type="submit" value="회원가입">
</form>
</body>
</html>